<nz-card nzTitle="{{ 'scores.hand' | translate: { handNumber: gameStore.getCurrentHandNumber() } }}">
  <nz-space nzDirection="vertical" style="width:100%">
    @if (gameHasFinished()) {
      <div nz-flex nzJustify="space-around" nzAlign="center">
        <nz-icon nzType="trophy" nzTheme="twotone" style="font-size: 30px;"/>
        <nz-avatar nzText="{{ gameStore.players()[maxScoreIndex()][0] }}"></nz-avatar>
        <span>{{ gameStore.players()[maxScoreIndex()] }}</span>
        <nz-icon nzType="trophy" nzTheme="twotone" style="font-size: 30px;"/>
      </div>

      <nz-divider></nz-divider>
    }

    <nz-table nzBordered [nzData]="gameStore.hands()" [nzFrontPagination]="false" [nzShowPagination]="false" nzSize="small"
              [nzScroll]="{ x: (140 + 105 * (gameStore.currentHandIndex() + 1) + 30 * (gameStore.hands().length - gameStore.currentHandIndex() - 1)) + 'px' }">
      <thead>
        <tr>
          <th nzWidth="80px">{{ 'player' | translate }}</th>
          <th nzWidth="60px">{{ 'total' | translate }}</th>
          @for (_ of [].constructor(gameStore.currentHandIndex() + 1); track $index) {
            <th nzWidth="105px">{{ gameStore.tricksPerHand()[$index]}}</th>
          }
          @for (_ of [].constructor(gameStore.hands().length - gameStore.currentHandIndex() - 1); track $index) {
            <th nzWidth="30px" style="padding: 3px;">{{ gameStore.tricksPerHand()[gameStore.currentHandIndex() + 1 + $index]}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (player of gameStore.players(); let playerIndex = $index; track player) {
          <tr>
            <td>{{ player }}</td>
            <td>{{ scores()[$index] }}</td>
            @for (_ of [].constructor(gameStore.currentHandIndex() + 1); let handIndex = $index; track handIndex) {
              <td nzAlign="center" style="padding-bottom: 1px;">
                <tr>
                  <nz-space>
                    {{ getBid(handIndex,playerIndex).actual }} / {{ getBid(handIndex,playerIndex).predicted }}
                    <nz-tag [nzColor]="preview(getBid(handIndex,playerIndex)) >= 0 ? 'green' : 'red'">
                      {{preview(getBid(handIndex,playerIndex)) >= 0 ? '+' : ''}}{{ preview(getBid(handIndex,playerIndex)) }}
                    </nz-tag>
                  </nz-space>
                </tr>
                <tr>
                  {{ calculateScore(handIndex)[playerIndex] }}
                </tr>
              </td>
            }
            @for (_ of [].constructor(gameStore.hands().length - gameStore.currentHandIndex() - 1); track $index) {
              <td></td>
            }
          </tr>
        }
      </tbody>
    </nz-table>

    <button nz-button nzBlock (click)="back.emit()">
      <nz-icon nzType="arrow-left" /><span>{{ 'back' | translate }}</span>
    </button>
    @if (!gameHasFinished()) {
      <button nz-button nzType="primary" nzBlock (click)="next.emit()">
        <span>{{ 'next' | translate }}</span><nz-icon nzType="arrow-right" />
      </button>
    }
    @if (gameHasFinished()) {
      <button nz-button nzType="primary" nzBlock (click)="shareGameState()">
        <span>{{ 'share.game' | translate }}</span><nz-icon nzType="share-alt" />
      </button>
      <button nz-button nzType="primary" nzBlock nzDanger (click)="gameStore.resetGameState()">
        <span>{{ 'new.game' | translate }}</span><nz-icon nzType="reload" />
      </button>
    }
  </nz-space>
</nz-card>
