<nz-page-header nzTitle="PochApp">
  <nz-page-header-extra>
    <nz-segmented [nzOptions]="languageOptions" nzShape="round" (nzValueChange)="changeLanguage($event.toString())" />
  </nz-page-header-extra>
</nz-page-header>

@if (stage() === 'players-setup' || stage() === 'hand-setup'){
  <nz-steps [nzCurrent]="stage() === 'players-setup' ? 0 : 1">
    <nz-step nzTitle="{{ 'setup.players' | translate }}"></nz-step>
    <nz-step nzTitle="{{ 'setup.hands' | translate }}"></nz-step>
    <nz-step nzTitle="{{ 'play' | translate }}"></nz-step>
  </nz-steps>
}

@if (stage() === 'players-setup') {
  <player-setup
    (next)="next()"
  />
}

@if (stage() === 'hand-setup') {
  <hand-setup
    (next)="next()"
    (back)="back()"
  />
}

@if (stage() === 'predictions') {
  <predictions-step
    (next)="next()"
    (back)="back()"
  />
}

@if (stage() === 'results') {
  <results-step
    (next)="next()"
    (back)="back()"
  />
}

@if (stage() === 'scoreboard') {
  <scores-step
    (next)="next()"
    (back)="back()"
  />
}
