<nz-space nzDirection="vertical" nzSize="middle" style="width:100%">
  <nz-card nzTitle="{{ 'add.players' | translate }}">
    <nz-space nzDirection="vertical" style="width:100%">
      <nz-input-group>
        <nz-space nzDirection="vertical" style="width:100%">
          <input nz-input placeholder="{{ 'player.name' | translate }}" [(ngModel)]="playerName" (keydown.enter)="addPlayer()" />
          <button nz-button nzType="primary" nzBlock (click)="addPlayer()">
            <nz-icon nzType="plus" /><span>{{ 'add.player' | translate }}</span>
          </button>
        </nz-space>
      </nz-input-group>

      @if (gameStore.players().length > 0) {
        <nz-table nzSize="small" nzOuterBordered="true" [nzData]="gameStore.players()" [nzFrontPagination]="false" [nzShowPagination]="false">
          <thead>
            <tr style="display: none;">
              <th nzWidth="40px"></th>
              <th nzWidth="40px"></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="movePlayers($event)">
            @for (player of gameStore.players(); track $index) {
              <tr cdkDrag cdkDragLockAxis="y">
                <td nzAlign="left" cdkDragHandle>
                  <nz-icon nzType="drag"/>
                </td>
                <td>
                  <nz-avatar nzText="{{ getPlayerInitials(player) }}"></nz-avatar>
                </td>
                <td><span style="margin-left:12px">{{ player }}</span></td>
                <td nzAlign="right">
                  <button nz-button nzDanger nzType="link" (click)="removePlayer(player)">
                    <nz-icon nzType="delete"/>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>
      } @else {
        <nz-empty nzNotFoundImage="simple" nzNotFoundContent="{{ 'no.players.added' | translate }}"></nz-empty>
      }

      <button nz-button nzType="primary" nzBlock [disabled]="gameStore.players().length < 2" (click)="next.emit()">
        <span>{{ 'next' | translate }}</span><nz-icon nzType="arrow-right" />
      </button>
    </nz-space>
  </nz-card>
</nz-space>
